.bton:focus, .btn:hover {
    outline: none;
    box-shadow: none;
}

.bton {
    border: none;
}


.opciones-tamano {
    font-size: 20px;
}

svg {
    width: 40px;
    margin-bottom: 3px;
    cursor: pointer;
    outline: none;
}

a {
    cursor: pointer;
}


